@import "variables";
@import "home";

body {
  background-image: url('images/whitebrick.jpg');
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  text-transform: uppercase;
  color: $dark;
}

.container {
  h2 {
    font-family: $main-font;
    font-size: 20px;
    text-decoration: underline;
  }
form {
  .btn.btn-primary {
    background-color: $green;
    margin: 20px;
  }
  .form-group {
    .form-control {
    font-family: $main-font;
    font-size: 10px;
  }
}
}
}
#home {
font-size: 50px;
text-align: center;
 #chair {
   width: 100%;
   height: 100%;
   padding: 0;
 }
}

#map-canvas {
  width: 100%;
  height: 75vh;
  border: 15px solid $camel;
}

#infowindow {
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  height: 250px;
  width: 150px;
  border-radius: 10px;
  margin-left: 20px;
 h2 {
   font-size: 15px;
   margin-right: 10px;
 }
  img {
    height: 100px;
    width: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.row {
  height: 400px;
  text-align: center;
}
#bearded {
  height: 350px;
  width: 275px;
}
#beardcare {
  height: 300px;
  width: 400px;
  border: $grey 10px solid;
}
#brushes {
  height: 375px;
  width: 250px;
}

nav {
  background-color: $dark;
  height: 100px;
  a {
    color: $white;
    font-family: $main-font;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
  .active {
    color: $green;
  }
}
}
.navbar-brand {
  font-size: 15px;
  text-decoration: underline;
}
